<configuration>

    <!--Log to stdout using the standard console logger-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--Set the format for the log to include the timestamp, the log level and the message-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Set the log level to INFO and log to stdout-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>